
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}

<!doctype html>
<html lang="en">



<body>


    <!--header-->
    <!--//header11111-->
    <!-- about banner -->
    @Html.Action("PartialFeatureD")
    <!-- //about banner -->
    <!-- About Section -->
    <!-- About Section -->
    <!-- about page video popup section -->
    @Html.Action("PartialVideo")
    <!-- //about page video popup section -->
    @Html.Action("PartialHireMe")
    @Html.Action("PartialCustomer")




    <!-- footer -->
    <!-- //footer -->
    <!-- Js scripts -->
    <!-- move top -->

    @Html.Action("PartialScript")

</body>

</html>


